### DEPENDENCIES ###
node_modules/
yarn-error.log

### GENERATED ###
dist/
react-native-spotlight-tour-v[0-9].[0-9].[0-9].tgz

### IDE's ###
.idea/

# Android/IntelliJ
build/
.gradle
local.properties
*.iml
