# Build
build/
dist/

# Dependencies
node_modules/
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VSCode
.vscode/

# IntelliJ
.idea/
local.properties
*.iml

# Packages
*.tgz
